body {
  font-family: Arial, sans-serif;
  background-color: tan;
  color: navy;
  margin: 0;
  padding: 0;
}
header, nav, section, footer {
  padding: 20px;
  background-color: rgb(141, 141, 141);
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav a {
  text-decoration: none;
  color: #1c06e2;
  margin-right: 20px;
}
nav a:hover {
  color: #ffffff;
}
h1, h2, h3 {
  color: #ffffff;
}
section {
  padding: 20px;
  background-color: #574f4f;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
footer {
  padding: 20px;
  background-color: #854848;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

